@model Task6.Models.ViewMessage

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row inbox-wrapper">
        <div class="col-lg-9 align-self-center offset-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9 email-content">
                            <div class="email-head">
                                <div class="email-head-subject">
                                    <div class="title d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            @Html.DisplayFor(model => model.Title)
                                        </div>
                                    </div>
                                </div>
                                <div class="email-head-sender d-flex align-items-center justify-content-between flex-wrap">
                                    <div class="d-flex align-items-center">
                                        <div class="sender d-flex align-items-center">
                                            @Html.DisplayFor(model => model.Sender)
                                        </div>
                                    </div>
                                    <div class="date">@Html.DisplayFor(model => model.Created)</div>
                                </div>
                            </div>
                            <br/>
                            <br />
                            <br />
                            <div class="email-body">
                                @Html.DisplayFor(model => model.Body)
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
