@using Microsoft.AspNetCore.Identity
@model IEnumerable<Task6.Models.ViewMessage>
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="container">
        <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
        <div class="mail-box">
            <aside class="sm-side">
                <div class="user-head">
                    <a href="/Messages/Create" data-toggle="modal" title="Compose" class="btn btn-compose">
                        NEW MESSAGE
                    </a>
                </div>
            </aside>
            <aside class="lg-side">
                <div class="inbox-head">
                    <h3>Inbox</h3>
                </div>
                <div class="inbox-body">
                    <table class="table table-inbox table-hover">
                        <tbody id="tblInfo">
                        </tbody>
                    </table>
                </div>
            </aside>
        </div>
    </div>
   @* <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Sender</th>
            <th>Date</th>
        </tr>
        </thead>

        <tbody id="tblInfo" ></tbody>
    </table>*@
}
else
{
    {
        ViewData["Title"] = "Access denied";
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    }
}
