@using Microsoft.AspNetCore.Identity
@model IEnumerable<Task6.Models.ViewMessage>
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Sender</th>
            <th>Date</th>
        </tr>
        </thead>

        <tbody id="tblInfo" ></tbody>
    </table>
}
else
{
    {
        ViewData["Title"] = "Access denied";
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    }
}
